<%- include('./layout/Header') %>
    <%- include('./layout/Navbar') %>
        <div class="showcase">
            <h1>About <span class="green-text">Express</span> Diary</h1>
            <p>A Simple CRUD Application using Express, Node and MongoDb Atlas.</p>
        </div>

        <%- include('./layout/Footer') %>